<div class="container">
  <div class="question">
    <p><%=@question%></p>
    <p class="speaker"><em>-You</em></p>
  </div>

  <div class="answer">
    <p class="spoken-word"><%=@answer%></p>
    <p class="speaker"><em>-Your Coach</em></p>
  </div>

  <%= link_to 'Ask a new question', '/ask' %>
</div>




